Package: com.chr1s.nonewcontactphotoavailablebanner
Name: NoNewContactPhotoAvailableBanner
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
