Package: com.chr1s.nonewcontactphotoavailablebanner
Name: NoNewContactPhotoAvailableBanner
Version: 1.0.0
Architecture: iphoneos-arm
Description: Hide the "New contact photo available" banner in iMessage chats
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
